<table class="table table-hover">
  <thead>
    <tr>
      <th>Course name</th>
      <th>Course code</th>
    </tr>
  </thead>
  <tbody>
    {{#each courses}}
    <tr>
      <td>
        <a href="{{@root.canvas_root}}/courses/{{id}}" target="_blank">
          {{name}}
        </a>
      </td>
      <td>{{course_code}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
