/* Set the body to not have any margins. */
.embedded {
  margin: 0rem;
}

/* Set the table to have no margins and a white background color. */
.table {
  margin: 0rem;
  background-color: #fff;
}

.loading-bar {
  position: relative;
  height: 2px;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.bar1 {
  position: absolute;
  top: 0;
  background: #006cb7;
  animation: progress 120s 1 cubic-bezier(0.01, 0.97, 0.01, 0.97);
  height: 100%;
}

@keyframes progress-end {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.loading-bar.complete .bar1 {
  display: none;
}
