/* Set the body to not have any margins. */
.embedded {
  margin: 0rem;
}

/* Set the table to have no margins and a white background color. */
.table {
  margin: 0rem;
  background-color: #fff;
}

.sort {
  cursor: pointer;
  padding-right: 21px;
  background-repeat: no-repeat;
  background-position: center right;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2221%22 height=%229%22 viewBox=%220 0 21 9%22%3E %3Cpath d=%22M14.5 5l-4 4-4-4zM14.5 4l-4-4-4 4z%22/%3E %3C/svg%3E");
}

.sort-asc {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%222…2 viewBox=%220 0 21 4%22%3E %3Cpath d=%22M6.5 4l4-4 4 4z%22/%3E %3C/svg%3E");
}

.sort-desc {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2221%22 height=%224%22 viewBox=%220 0 21 4%22%3E %3Cpath d=%22M14.5 0l-4 4-4-4z%22/%3E %3C/svg%3E");
}

.loading-bar {
  position: relative;
  height: 2px;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.bar1 {
  position: absolute;
  top: 0;
  background: #006cb7;
  animation: progress 120s 1 cubic-bezier(0.01, 0.97, 0.01, 0.97);
  height: 100%;
}

@keyframes progress-end {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.loading-bar.complete .bar1 {
  display: none;
}
